.div__container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__container {
  border: 1px solid var(--grey-3);
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.type__value {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;

  label {
    color: var(--grey-4);
    font-family: 'Inter', sans-serif;
    font-size: var(--font-title-4);
    font-weight: var(--font-regular);
  }

  select {
    width: 100%;
    height: 52.8px;
    padding: 0px 16px;
    border-radius: var(--radius);
    border: 2px solid var(--grey-1);
    background-color: var(--grey-1);
    font-family: 'Inter', sans-serif;
    font-size: var(--font-title-4);
    font-weight: var(--font-regular);
    line-height: 26px;
  }
}

.btn__form {
  width: 100%;
  height: 48px;
  padding: 13px 20px;
  border-radius: var(--radius);
  border: var(--button-border);
  background-color: var(--color-primary);
  color: var(--grey-1);
  cursor: pointer;
}

.btn__form:hover {
  border: var(--button-border-hover);
  background-color: var(--color-primary-2);
}

@media (max-width: 768px) {
  .div__container {
    width: 100%;
  }

  .form__container {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      height: 110px;
    }
  }
}

@media (max-width: 390px) {
  .div__container {
    width: 100%;
  }

  .form__container {
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      height: 110px;
      padding: 0 20px;
      width: 100%;
    }

    .btn__form {
      width: 87%;
    }
  }
}