.container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#root {
  width: 100%;
}

@media (max-width: 390px) {
  .container {
    /* width: 355px; */
    padding: 20px 0;
    display: flex;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .container {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}