@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Rowdies:wght@300;400;700&display=swap');

:root {
  --color-primary: #FD377E;
  --color-primary-2: #E34981;
  --color-secondary: #03B898;

  --grey-1: #F8F9FA;
  --grey-2: #E9ECEF;
  --grey-3: #868E96;
  --grey-4: #212529;

  --font-family: 'Nunito', sans-serif;
  --font-title-1: 28px;
  --font-title-2: 24px;
  --font-title-3: 20px;
  --font-title-4: 12px;
  --headline: 16px;

  --font-bold: 700;
  --font-regular: 400;

  --radius: 8px;
  --button-border: 2px solid var(--color-primary);

  --button-border-hover: 2px solid var(--color-primary-2);
  --button--bgc-hover: var(--color-primary-2);

  --input-border-outFocus: 2px solid var(--grey-1);
  --input-bgc-outFocus: var(--grey-1);

  --input-border-onFocus: 2px solid var(--grey-4);
  --input-bgc-onFocus: #fff;
}